<div class="test-completion">
  <div class="container"><img class="trophy" src="https://image.flaticon.com/icons/svg/321/321773.svg" alt="award"/><span class="title">Registro Completado</span><span class="score"><span class="a">100</span><span class="percent"></span></span>
    <p>La Universidad Americana de Acapulco, espera que encuentres lo que buscas en el ciclo de conferencias, bienvenido!.</p>
  </div>
  <div class="buttons">
    <%= link_to root_path, class: 'buttonFinish light' do %>
      <span>Otro Registro</span>
    <% end %>
  </div>
</div>
