<div id="formulario">
  <div id="header"></div>
  <div class="body">
    <div class="registro">Paso 1</div>
      
      <%= render 'shared/error_messages', object: @list %>
      <%= render 'form', list: @list %>
  </div>
  <div id="foot">Excelencia para el desarrollo</div>
</div>
